<!DOCTYPE html>
<html>
  <head>
    <title><%= "##{@id} - " if @id %><%= ENV["SITE_TITLE"]? || "Crpaste" %></title>
    <link href="/crpaste.min.css" rel="stylesheet" type="text/css" />
    <script src="/crpaste.min.js" type="text/javascript"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
