<!DOCTYPE html>
<html>
  <head>
    <title><%= if paste = @paste; "##{paste.external_id} - "; end %>Crpaste</title>
    <link href="/crpaste.min.css" rel="stylesheet" type="text/css" />
    <script src="/crpaste.min.js" type="text/javascript"></script>
  </head>
  <body id="paste">
    <%= yield %>
  </body>
</html>
