<h1>#<%= @id %></h1>
<pre><code class="hljs hljs-line-numbers line-numbers nohighlight"><% (@paste.try(&.text.lines.size) || 0).times do |i| %><a name="L<%= i+1 %>" href="#L<%= i+1 %>"><%= i+1 %></a>
<% end %></code><code class="<%= params["format"]? %>"><%= HTML.escape @paste.try(&.text) || "" %></code></pre>
<div class="variants">
  <a href="<%= paste_url(@paste, "txt") %>">Plain</a>
</div>
<div class="metadata">
  Expires <span class="timeago"><%= @paste.try &.expires_at.to_utc.to_s("%FT%TZ") %></span>.
</div>
